
*{
    font-family: "IBM Plex Sans", Arial, sans-serif;
    box-sizing: border-box;
}


header{
    
    background-color: #00c2db;
    padding-left: 20px;
}
footer{
    background-color: #00c2db;
}
aside{
    background-color: lightgray;
}
ul{
    
    list-style: none;
}
header ul a{
    margin: 0px 10px 0px 10px;
}
header ul{
    margin-right: 30px;
    text-align: right;
}
h1{
    display: inline-block;
    padding: auto 0px auto 30px;
}














/* Classes                                                                  */

.gridWrapperMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 50px;
    height: 100%;
}
.griditem1{
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: space-between;

}
.griditem2{
    grid-column-start: 1;
    grid-column-end: 5;
    min-height: 100vh;
    padding: 15px 10px 15px 10px;
}
.griditem3{
    grid-column-start: 5;
    grid-column-end: 6;
}
.griditem4{
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: right;
    color: lightgray;
    display: flex;
    flex-wrap: wrap;
}
.flexwrapperMeny{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    
}

.teamButton{
    width: 50px;
    height: 50px;
    margin: 30px 0px 0px 20px;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 0px 3px 10px 2px #757D75;
    color: white;
    background-color: #00c2db;

}
.meny{
    text-decoration: none;
    font-weight: 600;
}