
*{
    font-family: "IBM Plex Sans", Arial, sans-serif;
    box-sizing: border-box;
    font-weight: bold;

}

body{
    background: rgb(255,255,255);
    
    /*background: linear-gradient(360deg,rgba(0,211,238,1) 0%, rgba(0,194,219,1) 65%, rgba(0,145,169,1) 100%);*/
    background-image: linear-gradient(0deg, #00c2db 0%, #085078 100%);

}
header{
    
    padding-left: 20px;
}

aside{
    background-color: lightgray;
}
ul{
    
    list-style: none;
}
header ul a{
    margin: 0px 10px 0px 10px;
}
header ul{
    margin-right: 30px;
    text-align: right;
}
h1{
    display: inline-block;
    padding: auto 0px auto 30px;
}
a {
    text-decoration: none;
    color:#0091a9;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem 0.7rem;
}

input[type="radio"]{
    margin-left: 2em;

}
h3{
    color:white;
}
p{
    margin: 0.5em 0;
    color: white;
}














/* Classes     */
.uppdatera{
    text-decoration: none;
    color:#0091a9;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem 0.7rem;
}
.hidden{
    display: none;
}
.flexMain{
    display: flex;
    width: 100%;
    
}

.gridWrapperMain{
    max-width: 900px;
    height: 100%;
    margin:0 auto;
}
.griditem1{
    
    display: flex;
    justify-content: space-between;

}
.griditem2{
    
    min-height: 100vh;
    padding: 15px 10px 15px 10px;
    /*background-color: #00c2db;*/
    display:flex;
    flex-direction: column;
    width: 80%;
}
.griditem3{
    width: 22%;
    padding-left: 1em;
    background-color: transparent;
}
.griditem4{
   width:78%;
    text-align: center;
    color: rgba(0,194,219,1);
    margin-bottom: 0.5em;
    
}
.raceKlocka1, .raceKlocka2, .raceKlocka3, .raceKlocka4, .raceKlocka5{
    width: 33.3%;
    font-weight: 400;
    min-height: 100px;
    border-radius: 15px;
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    background-color: white;
    color: #00c2db;
}
.raceKlocka3, .raceKlocka5{
    width:50%;
}
.clock1, .clock2, .clock3, .clock4, .clock5{
    width:33.3%;
    font-weight: 400;
    font-size: 2.2em;
    align-self: center;
    text-align: center; 
    color: white;  

}
.clock3, .clock5{
    width:50%;
}
.flexwrapperMeny{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    
}
.buttonWrapper{
min-height: 100%;
}
.buttonWrapperLang{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.startButtons{
    width: 100%;
    min-height: 100px;
    align-self: center;
    display: flex;
   
    
    
}
.hidden{
    display:none;
}

.teamButton{
    font-weight: 400;
    min-width: 65px;
    max-width: 70px;
    flex-grow: 1;
    height: 50px;
    margin: 30px 7px 0px 7px;
    border: 0;
    border-radius: 3px;
    outline:none;
    font-size: 2rem;
    padding: 0 auto;
    box-shadow: 0px 2px 7px 0px rgba(255,255,255,0.3);
    color: #00c2db;
    background-color: white;

}
.meny{
    text-decoration: none;
    font-weight: 600;
}
.resultat{
    width: 100%;
    padding: 2em 1em;
    min-height: 100vh;


}
.flexRadio{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.radioRaceSelect{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pressed{
    background-color: #94d7e0;
}


@media (max-width: 780px){
    .griditem1{
        flex-direction: column;
        justify-content: center;
    }
    .griditem3{
        padding-left:0.5em;
    }

}



@media (max-width: 550px){
    .flexMain{
        
        flex-direction: column;
        
        
    }
    .resultat{
        padding-top:1em;
    }
    .griditem2{
        width: 100%;
    }
    .griditem3{
        width: 100%;
        background-color: transparent;
    }
    .griditem4{
        margin-top:4em;
        width:100%;
    }
    .flexwrapperMeny{
        justify-content: center;
        padding-left: 0;
    }
    .clock1, .clock2, .clock4{
        
        font-size: 1.5em;
    }
    input[type="radio"]{
        margin-left: 0.5em;
    }
    label{
        margin-right: 0.5em;
    }
    .uppdatera{
        margin-bottom: 0.5em;
    }
    .raceKlocka1, .raceKlocka2, .raceKlocka4{

        min-height: 100px;
        
        font-size: 1.4rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        
    }
}