
*{
    font-family: "IBM Plex Sans", Arial, sans-serif;
    box-sizing: border-box;
}


header{
    
    background-color: #0091a9;
    padding-left: 20px;
}
footer{
    background-color: #00c2db;
}
aside{
    background-color: lightgray;
}
ul{
    
    list-style: none;
}
header ul a{
    margin: 0px 10px 0px 10px;
}
header ul{
    margin-right: 30px;
    text-align: right;
}
h1{
    display: inline-block;
    padding: auto 0px auto 30px;
}
a {
    text-decoration: none;
    color:#0091a9;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem 0.7rem;
}

input[type="radio"]{
    margin-left: 2em;

}
p{
    margin: 0.5em 0;
}














/* Classes     */
.uppdatera{
    text-decoration: none;
    color:#0091a9;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem 0.7rem;
}
.hidden{
    display: none;
}
.flexMain{
    display: flex;
    width: 100%;
    
}

.gridWrapperMain{
    
    height: 100%;
}
.griditem1{
    
    display: flex;
    justify-content: space-between;

}
.griditem2{
    
    min-height: 100vh;
    padding: 15px 10px 15px 10px;
    background-color: #00c2db;
    display:flex;
    flex-direction: column;
    width: 80%;
}
.griditem3{
    width: 20%;
    background-color:white;
}
.griditem4{
   
    text-align: right;
    background-color: #fafafa;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.raceKlocka1, .raceKlocka2, .raceKlocka3, .raceKlocka4{
    width: 33%;
    min-height: 100px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    background-color: white;
    color: #00c2db;
}
.raceKlocka3{
    width:100%;
}
.clock1, .clock2, .clock3, .clock4{
    width:33%;
    font-size: 2.2em;
    align-self: center;
    text-align: center; 
    color: white;  

}
.clock3{
    width:100%;
}
.flexwrapperMeny{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    
}
.buttonWrapper{
min-height: 100%;
}
.buttonWrapperLang{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.startButtons{
    width: 100%;
    align-self: center;
    display: flex;
   
    
    
}
.hidden{
    display:none;
}

.teamButton{
    min-width: 65px;
    max-width: 70px;
    flex-grow: 1;
    height: 50px;
    margin: 30px 7px 0px 7px;
    border: 0;
    border-radius: 3px;
    outline:none;
    font-size: 2rem;
    padding: 0 auto;
    box-shadow: 0px 3px 10px 2px #757D75;
    color: #00c2db;
    background-color: white;

}
.meny{
    text-decoration: none;
    font-weight: 600;
}
.resultat{
    width: 100%;
    padding: 2em 1em;
    min-height: 100vh;


}
.flexRadio{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.radioRaceSelect{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pressed{
    background-color: #94d7e0;
}

@media (max-width: 780px){
    .griditem1{
        flex-direction: column;
        justify-content: center;
    }

}



@media (max-width: 550px){
    .flexMain{
        
        flex-direction: column;
        
        
    }
    .resultat{
        padding-top:1em;
    }
    .griditem2{
        width: 100%;
    }
    .flexwrapperMeny{
        justify-content: center;
        padding-left: 0;
    }
    .clock1, .clock2, .clock4{
        
        font-size: 1.5em;
    }
    input[type="radio"]{
        margin-left: 0.5em;
    }
    label{
        margin-right: 0.5em;
    }
    .uppdatera{
        margin-bottom: 0.5em;
    }
    .raceKlocka1, .raceKlocka2, .raceKlocka4{

        min-height: 100px;
        
        font-size: 1.4rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        
    }
}