
*{
    font-family: "IBM Plex Sans", Arial, sans-serif;
    box-sizing: border-box;
}


header{
    
    background-color: #00c2db;
    padding-left: 20px;
}
footer{
    background-color: #00c2db;
}
aside{
    background-color: lightgray;
}
ul{
    
    list-style: none;
}
header ul a{
    margin: 0px 10px 0px 10px;
}
header ul{
    margin-right: 30px;
    text-align: right;
}
h1{
    display: inline-block;
    padding: auto 0px auto 30px;
}














/* Classes     */

.hidden{
    display: none;
}
.flexMain{
    display: flex;
    width: 100%;
    
}

.gridWrapperMain{
    
    height: 100%;
}
.griditem1{
    
    display: flex;
    justify-content: space-between;

}
.griditem2{
    
    min-height: 100vh;
    padding: 15px 10px 15px 10px;
    display:flex;
    flex-direction: column;
    width: 80%;
}
.griditem3{
    width: 20%;
}
.griditem4{
   
    text-align: right;
    color: lightgray;
    display: flex;
    flex-wrap: wrap;
}
.raceKlocka1, .raceKlocka2, .raceKlocka3{
    width: 30%;
    height: 90%;
    border-radius: 10px;
}
.flexwrapperMeny{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    
}
.buttonWrapper{
min-height: 100%;
}
.startButtons{
    width: 100%;
    align-self: center;
    height: 100px;
}
.hidden{
    display:none;
}

.teamButton{
    width: 50px;
    height: 50px;
    margin: 30px 0px 0px 20px;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 0px 3px 10px 2px #757D75;
    color: white;
    background-color: #00c2db;

}
.meny{
    text-decoration: none;
    font-weight: 600;
}
.resultat{
    width: 100%;
    min-height: 100vh;

}